.promo {
  display: flex;
  margin-top: 18px;
  max-width: 1200px;
  height: 300px;
  border: 1px solid black;
  background: #4B4B4C;
}

.promo-text {
  padding-left: 70px;
  padding-top: 68px;
  max-width: 550px;
}

.promo-title {
  font-family: "Roboto";
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #fff;
}

.promo-description {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.promo-img {
  width: 500px;
  object-fit:contain;
}
