.services {
  margin-top: 56px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

.search-service {
  width: 310px;
  height: 34px;
  padding-left: 25px;
  border-radius: 2px;
  border: 1px solid #aeaeae;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
  color: #bfbfbf;
}

.card-link {
  text-decoration: none;
  height:100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 380px;
  margin-bottom: 30px;
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}

.card-image_back {
  position: absolute;
  width: 100%;
  height: 250px;
  margin-left: -380px;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.card-image_back:hover {
  opacity: 1;
  transition-duration: .5s;
}

.card-info {
  max-width: 380px;
  height: 125px;
  background-color: #fff;
  color: black;
  padding-left: 24px;
  padding-top: 20px;
  border-radius: 0 0 7px 7px;
}

.main-inform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  max-width: 360px;
}

.year {
  width: 55px;
  height: 22px;
  border-radius: 2px;
  color: #fff;
  background-color: #262626;
  margin-right: 15px;
  padding: 2px;
  text-align: center;
}

.additional-inform {
  display: flex;
  align-items: center;
}

.rating {
  color: #ffc107;
  margin-right: 26px;
}

.car-inform {
  margin-right: 26px;
}

.show-car-inform {
  background: #1890FF;
  border-radius: 2px;
  border:none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}

.price {
  color: #8c8c8c;
  font-size: 18px;
  line-height: 32px;
}
