* {
  margin: 0;
  font-family: "Roboto";
}

.container {
  max-width: 1200px;
  margin: auto;
}

::placeholder {
  color: #bfbfbf;
}

.main {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.swiper-container {
  width: 100%;
}
